absl-py==0.9.0
astroid==2.4.2
attrs==19.3.0
backcall==0.2.0
bleach==3.1.5
blinker==1.4
bravado==10.6.2
bravado-core==5.17.0
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1595805752074/work
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography @ file:///D:/bld/cryptography_1595348964866/work
cycler==0.10.0
daal4py==2019.5
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
future==0.18.2
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1588651542737/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1596431445916/work
gluoncv==0.7.0
google-auth==1.19.2
google-auth-oauthlib==0.4.1
graphviz==0.8.4
grpcio==1.30.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1593431910144/work
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils==0.2.0
isort==4.3.21
jedi @ file:///C:/ci/jedi_1596472773465/work
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
jsonpointer==2.0
jsonref==0.2
jsonschema==3.2.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
mistune==0.8.4
mkl-service==2.3.0
monotonic==1.5
msgpack==1.0.0
msgpack-python==0.5.6
mxboard==0.1.0
mxnet-cu101==1.5.0
nbconvert==5.6.1
nbformat==5.0.7
neptune-client @ file:///home/conda/feedstock_root/build_artifacts/neptune-client_1595605418338/work
neptune-notebooks==0.0.16
notebook @ file:///D:/bld/notebook_1594079006001/work
numpy @ file:///D:/bld/numpy_1595523080086/work
oauthlib==3.1.0
olefile==0.46
opencv-python==4.3.0.36
packaging==20.4
pandas @ file:///D:/bld/pandas_1595958737522/work
pandocfilters==1.4.2
parso==0.7.0
path==15.0.0
path.py==12.5.0
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1594212354952/work
portalocker==1.7.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.2
py3nvml==0.2.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.5.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
rfc3987==1.3.8
rsa==4.6
scikit-learn @ file:///C:/ci/scikit-learn_1592853528256/work
scipy==1.5.1
Send2Trash==1.5.0
simplejson @ file:///D:/bld/simplejson_1594928900538/work
six==1.15.0
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1588651577140/work
strict-rfc3339==0.7
swagger-spec-validator @ file:///home/conda/feedstock_root/build_artifacts/swagger-spec-validator_1593189905517/work
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
toml==0.10.1
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1588470653596/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
xmltodict==0.12.0
zipp==3.1.0
