astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
gluoncv==0.7.0
graphviz==0.8.4
idna==2.6
isort==4.3.21
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.2.2
mccabe==0.6.1
mxnet-cu101==1.5.0
numpy==1.16.6
opencv-python==4.3.0.36
pandas==1.0.5
Pillow==7.2.0
portalocker==1.7.0
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
requests==2.18.4
scipy==1.5.1
six==1.15.0
toml==0.10.1
tqdm==4.47.0
typed-ast==1.4.1
urllib3==1.22
wincertstore==0.2
